.my_carousel { 
	position: relative; 
	width: 950px;
    background: rgba(17, 160, 232, 0.2);
	margin: 30px auto 20px auto;
	background-color: rgba(11, 23, 41, 0.5);
}

.carousel_container { 
	height: 350px;
	margin: 0px;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #000900),
		color-stop(1, #FFFFFF)
	);
background-image: -webkit-linear-gradient(top, #D9FFF5 0%, #494D4C 100%);


}

#carousel { 
	margin: 0px auto 0px auto;
	width: 600px;
	height: 300px;
}

#carousel img { 
	width: 400px; 
	height: 400px;
	cursor: pointer; 
}

.nextItem { 
	position: absolute; 
	top: 230px; 
	left: 0px; 
	z-index: 1001; 
	cursor: pointer;
 }

.prevItem { 
	position: absolute; 
	top: 230px; 
	right: 0px; 
	z-index: 1002; 
	cursor: pointer; 
}

.caption_container {
	width: 550px;
	border-left: 3px solid #713e1b;
	margin: 0px 0px 0px 165px;
	padding: 20px;
}



#captions p { 
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 16px;
	color: #ffe6b3;
	margin: 0px 0px 0px 3px; 
}

#captions h2 { 
	font-family: Georgia; 
	font-size: 32px; 
	font-weight: normal;
	 color: #6d8824;
}

#captions h4 { 
	font-family: Georgia;  
	font-weight: normal;
	color: #6d8824; 
}


.leaves { 
	position: absolute;
	top: 270px;
	left: 102px;
	 z-index: 1000; 
}

.carousel_data {
 	display: none; 
}

