body {	

background: #abbaab; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #abbaab , #ffffff); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #abbaab , #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}

h2, h3, h4, h5, h6 {
	display: inline; 
	color: #649173;	
	font-family: "Trebuchet MS";
	text-shadow: 0 0 2px #FFA17F;

}

h1 {
	display: inline;
	font-size: 45px;
	color: #00a087;
	text-shadow: 0 0 10px orange;
	padding-right: 25px;
}

.information {
	color: #485563;
	font-size: 18px;
	font-family: 'Comic Sans MS';
}

.fa {
	font-size: 50px;
}

.download {
	padding-left: 25px;
	color: #148F77;
}