html, body {
	margin: 0;
	padding: 0;
}

#wrapper {
  width: 728px;
  height: 90px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border:4px solid #2ea728;
  position: relative;
  overflow: hidden;
  background: #eeeeef;
}

.bg {
	width: 728px;
	height: 90px;
	position: absolute;
	z-index: 1;
	top:0;
}

.green {
	width: 121px;
	height: 52px;
	background: #2ea728;
	position: absolute;
	top: 26px;
	left:0;
	z-index: 10;
}

.darkgreen {
	width: 129px;
	height: 26px;
	background: #163029;
	position: absolute;
	top: 58px;
	left:0;
	z-index: 10;
}

.cup {
	width: 728px;
	height: 90px;
	background: url('cup.png');
	position: absolute;
	z-index: 20;
	top:0;
	left:0;
}


.logo {
	width: 728px;
	height: 90px;
	position: absolute;
	top:0;
	left: 0;
	background: url('logo.png') -4px -4px no-repeat;
	z-index: 50;

}

.computer {
	width: 728px;
	height: 90px;
	position: absolute;
	top:-4px;
	left: 0;
	background: url('computer.png');
	z-index: 41;
}

.computer2 {
	width: 728px;
	height: 90px;
	position: absolute;
	top:-4px;
	left: 0;
	background: url('computer2.png');
	z-index: 41;
}


.text01 {
	width: 728px;
	height: 90px;
	position: absolute;
	top:0;
	left: 0;
	background: url('text01.png') no-repeat;
	z-index: 41;
}

.text02 {
	width: 728px;
	height: 90px;
	position: absolute;
	top:0;
	left: 0;
	background: url('text02.png');
	z-index: 41;
}

.text03 {
	width: 728px;
	height: 90px;
	position: absolute;
	top:0;
	left: 0;
	background: url('text03.png');
	z-index: 41;
}

.text04 {
	width: 728px;
	height: 90px;
	position: absolute;
	top:0;
	left: 0;
	background: url('text04.png');
	z-index: 41;
}


.text05 {
	width: 728px;
	height: 90px;
	position: absolute;
	top:0;
	left: 0;
	background: url('text05.png');
	z-index: 41;
}

.card {
	width: 728px;
	height: 90px;
	position: absolute;
	top:5px;
	left: -728px;
	background: url('card.png');
	z-index: 42;
	-ms-transform: scale(0.8); /* IE 9 */
    -webkit-transform: scale(0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8);
}

.card2 {
	width: 728px;
	height: 90px;
	position: absolute;
	top:-4px;
	left: 0px;
	background: url('card2.png');
	z-index: 81;
}

.cardA {
	width: 728px;
	height: 90px;
	position: absolute;
	top:-4px;
	left: 0px;
	background: url('cardA.png');
	z-index: 41;
}

.wifiA {
	width: 728px;
	height: 90px;
	position: absolute;
	top:0px;
	left: 35px;
	background: url('wifiA.png');
	z-index: 41;
}

.wifiB {
	width: 728px;
	height: 90px;
	position: absolute;
	top:0px;
	left: 35px;
	background: url('wifiB.png');
	z-index: 41;
}

.wifiC {
	width: 728px;
	height: 90px;
	position: absolute;
	top:0px;
	left: 35px;
	background: url('wifiC.png');
	z-index: 41;
}

.wifiD {
	width: 728px;
	height: 90px;
	position: absolute;
	top:0px;
	left: 35px;
	background: url('wifiD.png');
	z-index: 41;
}

.cta {
	width: 728px;
	height: 90px;
	position: absolute;
	top:0;
	left: 0;
	background: url('cta.png');
	z-index: 42;
	z-index: 150001;
	display: block;
}

.clickTag {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: 150000;

}

.cta:hover {
	background: url('cta-over.png');
}


#banner {
  width:728px;
  height:90px;
  overflow:hidden;
  position:absolute;
  left:90px;
  top:0;
   -ms-transform: scale(0.9); /* IE 9 */
    -webkit-transform: scale(0.9); /* Chrome, Safari, Opera */
    transform: scale(0.9);
}

#bg-exit {
  background-color:rgba(0, 0, 0, 0);
  cursor: pointer;
  width: 728px;
  height: 90px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 99;
}
#bg {
  width:728px;
  height:90px;
  position:absolute;
  
}

#content {
  visibility:hidden;
  width:728px;
  height:90px;
  position:absolute;
  left:0px;
  top:0px;
  overflow:hidden;
}

#scene1 {
  position: absolute;
}

.txt {
  position: absolute;
  left:28px;
  top:27px;
}
#t2 {
  top:38px;
}

.hide {
  visibility: hidden;
}

.abs {
  position: absolute;
}
#illustrations {
  position: absolute;
  top:10px;
  left:10px;
}
#dollar {
  position: absolute;
  top:33px;
  left:247px;
}
#transferline {
  position: absolute;
  background-image:url(transferline.png);
  width:84px;
  height:4px;
  top:40px;
  left:280px;
  
}
#phone-lg{
  position: absolute;
  top:-33px;
  left:324px
}
#interface{
  top:36px;
  left:10px;
}
#graphics {
  position: absolute;
  top:-10px;
  left:-10px;
}
#mask{
  position: absolute;
  top:10px;
  left:10px;
  width:564px;
  height:70px;
  overflow:hidden;
}